.logo_name {
  font-size: 2.25rem;
  line-height: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.logo_name::selection {
  color: transparent;
  -webkit-text-stroke: 1px rgb(0, 219, 80);
  background-color: transparent;
}

.nav_menu {
  position: relative;
  font-weight: 500;
  padding: 5px 0;
  font-size: 14px;
  text-transform: uppercase;
}

.nav_menu::before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(34 197 94);
  width: 0;
  height: 2px;
  border-radius: 50px;
  transition: 0.3s ease;
}

.nav_menu:hover::before {
  width: 100%;
}

.nav_menu:dark {
  color: white;
}

.nav_menu::selection {
  color: #22c55e;
  background-color: transparent;
}

@media screen and (width < 400px) {
  .logo_name {
    font-size: 2.1rem;
  }
}
