@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-bg: #0f172a;
  --scrollbar-color: #01c001;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

*::selection {
  background-color: transparent;
  color: white;
}

.banner-title-1 {
  color: rgb(34 197 94);
  -webkit-text-stroke: 2px rgb(34 197 94);
}
.banner-title-2 {
  color: transparent;
  -webkit-text-stroke: 2px rgb(74 222 128);
}
.banner-title-2::selection {
  color: rgb(34 197 94);
  -webkit-text-stroke: 2px rgb(34 197 94);
}

.banner-title-1::selection {
  color: transparent;
  -webkit-text-stroke: 2px rgb(74 222 128);
}

input::selection {
  background-color: black;
  color: white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* CSS for the scroll bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
  transition-duration: 0.3s;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 5px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
}
