@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.class-six {
  @apply py-5 rounded flex flex-col justify-center items-center gap-3
  bg-indigo-500 bg-opacity-40 dark:bg-opacity-30 hover:bg-opacity-80 dark:hover:bg-opacity-50 border dark:border-indigo-500 dark:shadow-[0_0_10px] dark:shadow-indigo-400 dark:hover:shadow-indigo-600 text-black dark:text-white duration-300;
}
.class-seven {
  @apply py-5 rounded flex flex-col justify-center items-center gap-3
  bg-orange-500 bg-opacity-40 dark:bg-opacity-30 hover:bg-opacity-80 dark:hover:bg-opacity-50 border dark:border-orange-500 dark:shadow-[0_0_10px] dark:shadow-orange-400 dark:hover:shadow-orange-600 text-black dark:text-white duration-300;
}
.class-eight {
  @apply py-5 rounded flex flex-col justify-center items-center gap-3
  bg-blue-500 bg-opacity-40 dark:bg-opacity-30 hover:bg-opacity-80 dark:hover:bg-opacity-50 border dark:border-blue-500 dark:shadow-[0_0_10px] dark:shadow-blue-400 dark:hover:shadow-blue-600 text-black dark:text-white duration-300;
}
.class-nine {
  @apply py-5 rounded flex flex-col justify-center items-center gap-3
  bg-purple-500 bg-opacity-40 dark:bg-opacity-30 hover:bg-opacity-80 dark:hover:bg-opacity-50 border dark:border-purple-500 dark:shadow-[0_0_10px] dark:shadow-purple-400 dark:hover:shadow-purple-600 text-black dark:text-white duration-300;
}
.class-ten {
  @apply py-5 rounded flex flex-col justify-center items-center gap-3
  bg-pink-500 bg-opacity-40 dark:bg-opacity-30 hover:bg-opacity-80 dark:hover:bg-opacity-50 border dark:border-pink-500 dark:shadow-[0_0_10px] dark:shadow-pink-400 dark:hover:shadow-pink-600 text-black dark:text-white duration-300;
}

.tab-default {
  @apply bg-white dark:bg-transparent text-sm text-black dark:text-white px-5 py-3 text-center w-full uppercase border-b dark:border-gray-600;
}

.tab-active {
  @apply bg-green-500 text-sm text-white px-5 py-3 text-center w-full uppercase border-b border-green-500;
}

:root {
  --scrollbar-bg: #0f172a;
  --scrollbar-color: #01c001;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Nunito sans"; */
  scroll-behavior: smooth;
}

.font-themify {
  font-family: "themify";
}

*::selection {
  background-color: #0f172a;
  color: white;
}

.banner-title-1 {
  color: rgb(34 197 94);
  -webkit-text-stroke: 2px rgb(34 197 94);
}
.banner-title-2 {
  color: transparent;
  -webkit-text-stroke: 2px rgb(74 222 128);
}
.banner-title-2::selection {
  background-color: transparent;
  color: rgb(34 197 94);
  -webkit-text-stroke: 2px rgb(34 197 94);
}

.banner-title-1::selection {
  background-color: transparent;
  color: transparent;
  -webkit-text-stroke: 2px rgb(74 222 128);
}

input::selection {
  background-color: black;
  color: white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* CSS for the scroll bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
  transition-duration: 0.3s;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 5px;
}

.testing {
  font-size: 34px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px #b1b1b1;
}

/* About section in the homepage */

.link {
  position: relative;
  color: #cecece;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  white-space: nowrap;
  display: block;
}

.link::before {
  content: "";
  width: 7px;
  height: 7px;
  margin: 0 12px 0 0px;
  transform: rotate(45deg);
  background: #22c55e;
  display: inline-block;
  transition: all 0.3s ease-in-out 0s;
}

.link:hover {
  color: white;
}

.link:hover::before {
  transform: rotate(180deg);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
}

#sideMenu::-webkit-scrollbar,
#tabList::-webkit-scrollbar,
#tabList::-webkit-scrollbar-track {
  width: 0;
  display: none;
}

#studentsTable::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

#studentsTable::-webkit-scrollbar-track {
  background: white;
  transition-duration: 0.3s;
  border-radius: 5px;
}

#studentsTable::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}
